@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

// 色票管理: $
$main-color: #FFFFFF;
$sub-color : #000000;
$fire-engine-red: rgba(214, 40, 40, 1);
$orange: #ffeecf;
$brown: #522203;
$brown2: #753d1b;
$vanilla: #fff8d2;

@mixin boxModel() {
    width: 50%;
    display: flex;

    align-items: center;
    flex-direction: column;
    background: $vanilla;
    margin: 1rem;
    border-radius: 20px;

    div {
        &.Ctn {

            width: 60%;
            margin: 0.5rem;
            // background: $vanilla;
            border-radius: 18px;

            div.h1 {
                margin: 0.5rem;
                background-color: $brown2;
                font-size: 1.25rem;

                color: white;

                h1 {
                    color: $brown;
                }
            }

        }
    }

    table {
        width: 100%;
    }

    table,
    tr,
    th,
    td {

        border: 1px solid $brown;
        border-spacing: 0;
    }

    th {
        color: black;
        background-color: $vanilla;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans TC", serif;
    text-align: center;

    a {
        text-decoration: none;

        &:hover {
            color: blue;
        }
    }



    ul {
        list-style: none;
    }

    h1,
    p {
        color: $brown;
    }
}

nav {
    background: $brown2;
    padding: 1rem;
    display: flex;
    justify-content: space-around;

    div {
        display: flex;
        justify-content: center;
    }

    a {

        ul {
            padding-right: 1rem;
            font-size: 1.5rem;
            color: #FFFFFF;

        }
    }
}

// 巢狀式結構
main {
    display: flex;

    section.left {
        @include boxModel()
    }

    section.right {
        @include boxModel()
    }
}



// 用&連接parent &:hover

@media screen and (max-width:700px) {
    main {
        flex-direction: column;
        align-items: center;

        section.left {
            width: 85vw;
        }

        section.right {
            width: 85vw;
        }
    }
}