@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "sans-serif";
}

h1,
p {
  font-size: 1rem;
}

table,
tr {
  border: 1px solid black;
}
th {
  color: #522203;
  background-color: #fff8d2;
}
