// 色票管理: $

$main-color: #FFFFFF;
$sub-color : #000000;
$color: rgb(141, 57, 57);



// 跟css一樣用{}
* {
    padding: 0;
    margin: 0;
    font-family: "Noto Serif TC", serif;
    text-align: center;
}

// 巢狀式結構
main {
    display: flex;

    section#left {
        width: 50%;

        h1 {
            font-size: 1.5rem;
            color: $sub-color;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

    }

    section {
        &.right {
            h1 {
                color: aqua;
            }
        }
    }
}


// 用&連接parent &:hover